.headline {
  background: #252526;
  color: #fff;
  padding: 3rem 2rem;
  border-radius: 10px;
  box-shadow: -1px -1px 52px 1px rgba(65, 64, 64, 0.75);
  -webkit-box-shadow: -1px -1px 52px 1px rgba(65, 64, 64, 0.75);
  -moz-box-shadow: -1px -1px 52px 1px rgba(65, 64, 64, 0.75);
}
